
.toolbar {
    display: flex;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    padding: 0.625rem;
    margin-left:2.5rem;
    margin-right:2.5rem;
}

.toolbar a {
    color: lightgray;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0 5px;
}

.toolbar a:hover{
    background-color: #555555;
    color: lightgray;
}

.center-pillar {
  width: 70%;       
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto; 
  padding-bottom:1.25rem;
  padding-top:1.25rem;
  background-color: #222222;
}

body {
	font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #101010;
	color: lightgray;
	text-rendering: optimizelegibility;
}

.blinkie {
  flex: 1 1 0;   
  min-width: 0;       
  height: auto;      
  max-width: 100%;   
  display: block;
}