select {
    min-width: 10rem;
}

button {
    min-width: 3rem;
}

.image-title{
    margin-bottom: 0;
}

.piece-image{
    width:55%;
}

.piece-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}