.button-wrapper select {
    min-width: 10rem;
}

.button-wrapper button {
    min-width: 3rem;
}

.button-wrapper button, .button-wrapper select {
    background-color: #333;
    border: none;
    border-bottom: solid 2px #8b7e9b;
    color: lightgray;
    border-radius: 1.5px;
    min-height: 1.5rem;
}

.button-wrapper button:hover, .button-wrapper select:hover {
    background-color: #555555;
}

.image-title{
    margin-bottom: 0;
}

.piece-image{
    width:55%;
    transition-duration: 0.15s; 
}

.piece-image:hover { 
    transform: scale(1.39); 
}

.piece-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    outline: 9px outset #222;
    margin: 1.5rem;
}

#artWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2rem;
}

.button-wrapper {
    display:flex; 
    justify-content: center;  
    gap: 1rem;
    margin-top:4rem;
}

.many-image-wrapper {
    display: flex;
    justify-content: center;
    gap:1rem;
    width: 100%;
}

.many-image-wrapper button {
    min-width: 2rem;
    background-color: #333;
    border: none;
    border-bottom: solid 2px #8b7e9b;
    color: lightgray;
    border-radius: 3px;
}

.many-image-wrapper button:hover {
    background-color: #555555;
}

.many-image-wrapper .piece-image {
    width: 62.5%;
}