.result-box{
    display:flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.7rem;
    padding:0.2rem;
}

.clock{
    font-size: 1.5rem;
}

.result-box.selected {
    background: #333;
}

.select-wrapper{
    position: relative;
    height:2rem;
    width:15rem;
}

.select-wrapper > * {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    color: #bbb;
    font-size:1rem;
    padding: 0 1rem;
    margin: 0;
    border: none;
    text-align: end;
    font-family: inherit;
}

.output-clock{
    background-color: #333;
    display:flex;
    align-items: center;
    padding-top:0.05rem; /* I hate having to manually adjust this, but I know no other method. */
}

.output-clock * {
    width: 100%;
}