.smaller-list{
    font-size: 0.8rem;
    padding-left: 1rem;
}

.smaller-list li{
    margin-top: 0.2rem;
}

.smallest-list li{
    margin-left: -1.5rem;
}

.sub-header{
    font-size: 0.65rem; 
    color:gray;
}

.inactive {
    text-decoration:line-through;
}

.bigger-list > li:not(:last-child){
    margin-bottom: 1.5rem;
}

.text-field {
    font-size: 0.9rem;
    margin-top: -0.4rem;
}

.header {
    text-decoration: underline;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.button-wrapper button, .button-wrapper span {
    background-color: #333;
    border: none;
    border-bottom: solid 2px #8b7e9b;
    color: lightgray;
    border-radius: 1.5px;
    min-height: 1.5rem;
    min-width: 4rem;
}

.button-wrapper button:hover {
    background-color: #555555;
}

#current-date-label {
    min-width: 12rem; 
    text-align: center;
    line-height: 1.5rem;
}
